html{
    width: 100%;
}
.logo {
    width: 100px;
}

.nav-header {
    background-color: gray;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

.perfil {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.carrito {
    width: 20px;
    height: 25px;
    margin-left: 10px;
}

.contenedor-logo {
    width: 120px;
}


.menu-izquierdo {
    display: flex;
}

.primerH3 {
    margin: 170px 0px 40px 60px;
}

main h3 {
    margin: 50px 0px 40px 60px;
}

.contenedor-de-zapatillas {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    .contenedor-imagen{
        width: 500px;
    }
    .imagen-zapatilla {
        width: 100%;
    }
}

.flecha-derecha {
    position: absolute;
    width: 30px;
    top: 50%;
    right: 10px;
}

.flecha-izquierda {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 10px;
}

.contenedor-boton {
    display: flex;
    justify-content: center;

    .boton-ver-todo {
        background-color: #000;
        color: #fff;
        padding: 15px 25px;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        margin: 70px;
    }
}

.contenedor-marcas {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-marcas {
        width: 100px;
        margin: 20px;
        margin-top: 40px;
        margin-bottom: 70px;
    }
}

// Estilos del footer

footer {
    background-color: black;

    & p {
        color: gray;
    }

    & h3 {
        color: aliceblue;
    }

    .contenedor-info-footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;

        .logo-footer {
            position: relative;
            border-radius: 50px;
            bottom: 7px;
            left: 5px;
        }

        .tiendas {
            padding-bottom: 15px;

            & p {
                margin: 10px;
                margin-left: 0;
            }
            & h3{
                margin: 0px 0px 8px 0px;
            }
        }
    }
}
.ayuda{

    & p {
        margin: 7px;
        margin-left: 0;
    }
    & h3{
        margin: 0px 0px 8px 0px;
    }
}

.logo-redes {
    position: relative;
    bottom: 50px;
    background-color: #fff;
    width: 25px;
    margin: 5px;
    border-radius: 5px;
}
.main-login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h3 {
    margin: 50px 0px 10px 0px;
}
.login{
    background-color: #E9ECEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    margin-top: 300px;
    margin-bottom: 200px;
    padding-bottom: 45px;
}


/* botones google y facebook */

.login__botones{
    display: flex;
    margin: 40px 0px;
    width: 356px;
}

.login__botones__estilos-compartidos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    width: 160px;
    height: 43px;
}

.login__botones__estilos-compartidos p{
    margin: 5px;
}

.google-btn picture img{
    width: 25px;
}

.google-btn{
    margin-right: 10px;
    background-color: #fff;
    border: grey 1px solid;
}

.google-btn p{
    font-weight: bold;
}

.facebook-btn picture img{
    width: 13px;
}

.facebook-btn{
    margin-left: 10px;
    background-color: #1a70e0;
    border: none
}

.facebook-btn p{
    color: #fff;
    font-weight: bold;
}

/* termina botones */

.login__divisores{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
}
.login__divisores hr{
    flex-grow: 1;
    border: 1px solid #ccc;
}
.login__divisores p{
    color: #9b9b9b;
}

.login__formulario{
    display: flex;
    flex-direction: column;
    width: 356px;
}

.login__formulario__imput{
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login__formulario__imput::placeholder{
    color: #9c9c9c;
    font-size: 15px;
}

.email-input{
    background-image: url(../Imagenes/Logo-redes-login/buzon.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 15px 8px ;
    padding-left: 45px;
    
}

.contraseña-input{
    background-image: url(../Imagenes/Logo-redes-login/candado.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 15px 8px ;
    padding-left: 45px;
}

.login__formulario__olvide{
    margin-top: 15px;
}

.login__formulario__input-checkbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.login__formulario__input-checkbox input{
    margin: 15px 15px 15px 0;
    width: 20px;
    height: 20px;
}

.login__formulario__input-checkbox p{
    margin: 15px 0px;
}

@media screen and (max-width:576px) {
    .nav-header{
        position: relative;
        width: 100%;
    }
    .primerH3{
        margin-top: 30px;
        margin-left: 85px;
    }
    main>h3{
        margin-left: 85px;
    }
    .contenedor-boton{
        .boton-ver-todo{
            font-size: 14px;
            margin: 30px;
            padding: 10px 20px;
        }
    }
    .contenedor-de-zapatillas {
        grid-template-columns: 1fr;
        justify-items: center;
        .contenedor-imagen{
            width: 400px;
        }
        .imagen-zapatilla{
            width: 100%;
        }
        .desaparecer {
            display: none;
        }
    }
    .contenedor-marcas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-bottom: 20px;
        .logo-marcas{
            margin: 20px;
        }
    }
    footer{
        p,h3{
            font-size: 11px;
        }
        .tiendas{
            & p{
                margin:5px
            }
        }
        .logo-footer{
            width: 85px;
        }
        .logo-redes{
            width: 20px;
        }
    }
}