

.contenedor-carrito{
    min-height:40vh;
    margin-top: 200px;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    img{
        width: 100px;
    }
    h2{
        color: #000 ;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    p{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        opacity: 0.7;
    }
    button{
        max-width: 200px;
        margin-bottom: 2rem ;
        background-color: #000;
        color: #fff;
        padding: 15px 25px;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        transition: all 0.2s;

        &:hover {
            background-color: #333;
            color: #ff9900;
            padding: 20px 30px;
        }
    }

    .text-opciones{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;

        opacity: 1;
    }
}