html{
    width: 100%;
}
*{
    font-family: 'Roboto Condensed', sans-serif;
    
}
header{
    ::selection{
        background-color: #ff9900;
        color: #000;
    }
}
main, footer{
    ::selection{
        background-color: #333;
        color: #ff9900;
    }
}