@charset "UTF-8";
html {
  width: 100%;
}

* {
  font-family: "Roboto Condensed", sans-serif;
}

header ::-moz-selection {
  background-color: #ff9900;
  color: #000;
}

header ::selection {
  background-color: #ff9900;
  color: #000;
}

main ::-moz-selection, footer ::-moz-selection {
  background-color: #333;
  color: #ff9900;
}

main ::selection, footer ::selection {
  background-color: #333;
  color: #ff9900;
}

.nav-header {
  background-color: gray;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}
.nav-header .logo {
  width: 100px;
}
.nav-header .perfil {
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-header .carrito {
  width: 20px;
  height: 25px;
  margin-left: 10px;
}

.primerH3 {
  margin: 170px 0px 40px 60px;
}

main h3 {
  margin: 80px 0px 40px 60px;
  font-size: 30px;
  font-weight: bold;
}

.ofertas-pagos {
  margin-top: 132px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.ofertas-pagos h3 {
  font-size: 20px;
  margin: 16px 0px 3px 0px;
  font-weight: normal;
  color: #111;
}
.ofertas-pagos a {
  text-decoration-color: black;
  font-weight: bold;
  color: black;
  margin-bottom: 16px;
}

.slider-innermod {
  height: 721px;
}

.contenedor-slider1 {
  position: relative;
}
.contenedor-slider1 h1 {
  position: absolute;
  top: 20%;
  right: 31%;
  color: #fff;
  font-family: "Tilt Prism", cursive;
}

.contenedor-slider2 {
  position: relative;
}
.contenedor-slider2 h2 {
  position: absolute;
  top: 10%;
  right: 20px;
  font-family: "Raleway", sans-serif;
}
.contenedor-slider2 h2 span {
  color: palevioletred;
  font-weight: bold;
  font-style: italic;
  font-family: "Barriecito", cursive;
}
.contenedor-slider2 .contenedor-boton {
  position: absolute;
  top: 25%;
  right: 20%;
}
.contenedor-slider2 .contenedor-boton .boton-ver-todo:hover {
  background-color: #000;
  color: palevioletred;
}

.contenedor-de-zapatillas {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}
.contenedor-de-zapatillas .contenedor-imagen {
  width: 500px;
}
.contenedor-de-zapatillas .contenedor-imagen img {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.contenedor-de-zapatillas .contenedor-imagen .info-zapas {
  text-align: left;
  margin: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.contenedor-de-zapatillas .contenedor-imagen .info-tipo {
  font-weight: 500;
  color: #757575;
}
.contenedor-de-zapatillas .contenedor-imagen-sub {
  margin-bottom: 30px;
}
.contenedor-de-zapatillas .contenedor-imagen-sub .img1 {
  animation-delay: 0.2s;
}
.contenedor-de-zapatillas .contenedor-imagen-sub .img2 {
  animation-delay: 0.4s;
}
.contenedor-de-zapatillas .contenedor-imagen-sub .img3 {
  animation-delay: 0.6s;
}
.contenedor-de-zapatillas .contenedor-imagen-sub p, .contenedor-de-zapatillas .contenedor-imagen-sub img {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 100%;
}
.contenedor-de-zapatillas .imagen-zapatilla {
  width: 100%;
}

.flecha-derecha {
  position: absolute;
  width: 30px;
  top: 50%;
  right: 10px;
}

.flecha-izquierda {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 10px;
}

.contenedor-boton {
  display: flex;
  justify-content: center;
}
.contenedor-boton .boton-ver-todo {
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  margin: 70px;
  transition: all 0.2s;
}
.contenedor-boton .boton-ver-todo:hover {
  background-color: #333;
  color: #ff9900;
  padding: 20px 30px;
  margin: 65px;
}

.contenedor-separacion1 {
  position: relative;
}
.contenedor-separacion1 img {
  width: 100%;
}
.contenedor-separacion1 h3 {
  background-color: #333;
  padding: 10px;
  position: absolute;
  font-size: 70px;
  top: 20%;
  right: 19%;
  font-family: "Permanent Marker", cursive;
  color: #ff8c00;
}

.contenedor-separacion2 {
  position: relative;
}
.contenedor-separacion2 img {
  width: 100%;
}
.contenedor-separacion2 h3 {
  position: absolute;
  font-size: 35px;
  bottom: 20%;
  right: 20%;
  font-family: "Raleway", sans-serif;
  color: #f5f5f5;
}
.contenedor-separacion2 h3 span {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Permanent Marker", cursive;
  color: #ff9900;
}

.contenedor-marcas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-marcas .logo-marcas {
  width: 100px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 70px;
}
.contenedor-marcas .logo-marcas:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-14 22:27:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-8-15 11:15:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  background-color: black;
}
footer p {
  color: gray;
  font-size: 1rem;
}
footer h3 {
  color: aliceblue;
  font-size: 1.17rem;
  font-weight: bold;
}
footer .contenedor-info-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
footer .contenedor-info-footer .logo-footer {
  position: relative;
  border-radius: 50px;
  width: 100px;
  bottom: 7px;
  left: 5px;
}
footer .contenedor-info-footer .tiendas {
  padding-bottom: 15px;
}
footer .contenedor-info-footer .tiendas p {
  margin: 10px;
  margin-left: 0;
}
footer .contenedor-info-footer .tiendas h3 {
  margin: 0px 0px 8px 0px;
}
footer .contenedor-info-footer .ayuda p {
  margin: 7px;
  margin-left: 0;
}
footer .contenedor-info-footer .ayuda h3 {
  margin: 0px 0px 8px 0px;
}
footer .contenedor-info-footer .logo-redes {
  position: relative;
  bottom: 50px;
  background-color: #fff;
  width: 25px;
  margin: 5px;
  border-radius: 5px;
}

.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
  /* termina botones */
}
.main-login .login {
  background-color: #E9ECEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 20px;
  margin-top: 300px;
  margin-bottom: 200px;
  padding-bottom: 45px;
}
.main-login .login h3 {
  margin: 50px 0px 10px 0px;
}
.main-login .login .login__botones {
  display: flex;
  margin: 40px 0px;
  width: 356px;
}
.main-login .login .login__botones .login__botones__estilos-compartidos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 160px;
  height: 43px;
}
.main-login .login .login__botones .login__botones__estilos-compartidos p {
  margin: 5px;
}
.main-login .login .login__botones .google-btn {
  margin-right: 10px;
  background-color: #fff;
  border: grey 1px solid;
}
.main-login .login .login__botones .google-btn picture img {
  width: 25px;
}
.main-login .login .login__botones .google-btn p {
  font-weight: bold;
}
.main-login .login .login__botones .facebook-btn {
  margin-left: 10px;
  background-color: #1a70e0;
  border: none;
}
.main-login .login .login__botones .facebook-btn picture img {
  width: 13px;
}
.main-login .login .login__botones .facebook-btn p {
  color: #fff;
  font-weight: bold;
}
.main-login .login .login__divisores {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
}
.main-login .login .login__divisores hr {
  flex-grow: 1;
  border: 1px solid #ccc;
}
.main-login .login .login__divisores p {
  padding-top: 15px;
  color: #9b9b9b;
}
.main-login .login .login__formulario {
  display: flex;
  flex-direction: column;
  width: 356px;
}
.main-login .login .login__formulario .login__formulario__imput {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.main-login .login .login__formulario .login__formulario__imput::-moz-placeholder {
  color: #9c9c9c;
  font-size: 15px;
}
.main-login .login .login__formulario .login__formulario__imput::placeholder {
  color: #9c9c9c;
  font-size: 15px;
}
.main-login .login .login__formulario .email-input {
  background-image: url(../Imagenes/Logo-redes-login/buzon.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 15px 13px;
  padding-left: 45px;
}
.main-login .login .login__formulario .contraseña-input {
  background-image: url(../Imagenes/Logo-redes-login/candado.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 15px 12px;
  padding-left: 45px;
}
.main-login .login .login__formulario .login__formulario__olvide {
  margin-top: 15px;
}
.main-login .login .login__formulario .login__formulario__input-checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 2px;
}
.main-login .login .login__formulario .login__formulario__input-checkbox input {
  margin: 15px 15px 15px 0;
  width: 20px;
  height: 20px;
}
.main-login .login .login__formulario .login__formulario__input-checkbox p {
  margin: 15px 0px;
}

@media screen and (max-width: 576px) {
  .nav-header {
    position: relative;
    width: 100%;
  }
  .primerH3 {
    margin-top: 30px;
    margin-left: 85px;
  }
  main > h3 {
    margin-top: 60px;
    margin-left: 85px;
  }
  .contenedor-boton .boton-ver-todo {
    font-size: 14px;
    margin: 30px;
    padding: 10px 20px;
  }
  .ofertas-pagos {
    margin-top: 0px;
  }
  .ofertas-pagos h3 {
    font-size: 15px;
    margin: 10px 0px 3px 0px;
  }
  .ofertas-pagos a {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .contenedor-slider1 h1 {
    top: 13%;
    right: 6%;
  }
  .contenedor-slider2 h2 {
    font-size: 10px;
    right: 7px;
  }
  .contenedor-slider2 .contenedor-boton {
    top: 35%;
    right: 25%;
  }
  .contenedor-slider2 .contenedor-boton .boton-ver-todo {
    margin: 0px;
    font-size: 8px;
    padding: 7px;
    color: palevioletred;
  }
  .contenedor-slider2 .contenedor-boton .boton-ver-todo:hover {
    color: palevioletred;
  }
  .slider-innermod {
    height: 222px;
  }
  .contenedor-de-zapatillas {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .contenedor-de-zapatillas .contenedor-imagen {
    width: 400px;
  }
  .contenedor-de-zapatillas .imagen-zapatilla {
    width: 100%;
  }
  .contenedor-de-zapatillas .desaparecer {
    display: none;
  }
  .contenedor-separacion1 h3 {
    font-size: 20px;
    top: 10%;
  }
  .contenedor-separacion2 h3 {
    font-size: 15px;
    right: 5%;
    bottom: 7%;
  }
  .contenedor-marcas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: 20px;
  }
  .contenedor-marcas .logo-marcas {
    margin: 20px;
    width: 80px;
  }
  footer p,
  footer h3 {
    font-size: 11px;
  }
  footer .tiendas p {
    margin: 5px;
  }
  footer .contenedor-info-footer .logo-footer {
    width: 85px;
  }
  footer .logo-redes {
    width: 20px;
  }
}/*# sourceMappingURL=syles.css.map */